
<h1>Magic Eight Ball</h1>
<h2>Discover The Answers To The Big Questions</h2>

<form action="/result">
  Ask a question ?
  <input type="text" name="question" value="">
  <input type="submit" value="Submit">
</form>
