<h1>Secret Number</h1>

<h2>Pick A Number Between One and Ten</h2>

<!-- <div>
  <ul class="pick">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
</ul>
</div> -->

<form class="guess" action="/secret_number">
  <input type="radio" name="pick" value="one" > one<br>
  <input type="radio" name="pick" value="two"> two<br>
  <input type="radio" name="pick" value="three"> three<br>
  <input type="radio" name="pick" value="four" > four<br>
  <input type="radio" name="pick" value="five"> five<br>
  <input type="radio" name="pick" value="six"> six<br>
  <input type="radio" name="pick" value="seven" > seven<br>
  <input type="radio" name="pick" value="eight"> eight<br>
  <input type="radio" name="pick" value="nine"> nine<br>
  <input type="radio" name="pick" value="Ten"> ten<br>
  <input type="submit" value="Submit">
</form>
