<!-- <form class="movies">
  <p>Which Movie Would You Like?</p>
  <input type="text" class="whichMovie"></input>
</form> -->

<form action="/search">
  <p>Which Movie Would You Like?</p>
  <input class="text-box" type="text" name="title">
  <input class="send" type="submit">
</form>
