/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}*/

body {
  /*text-align: center;
  /*max-width: 960px;*/
  /*margin: 0 auto;*/
  /*font-family: arial;*/
  background-image: url(https://images.unsplash.com/photo-1414170695976-59c0463bd11d?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
  background-size: cover;
  /*background-position: center;*/
  color: white;
}

.nav navbar-nav {
  color: white;
}

#content {
  text-align: center;
  padding-top: 15%;
}

h1 {
  /*font-size: 2em;*/
}

html {
  height: 100%;
}

hr {
  width: 300px;
}

.navbar-inverse .navbar-brand {
  color: white;
}


.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.form-group {
  max-width: 400px;
}

.box {
  max-width: 960px;
  height: auto;
  background-color: white;
  padding: 10px;
  color: black;
}

.all {
  color: black;
}
